(
    max_notifications: 0,
    timeout: 3000,
    zero_timeout_behavior: NeverExpire,
    poll_interval: 16,
    shortcuts: ShortcutsConfig (
        notification_interact: 1,
        notification_close: 2,
        notification_pause: 1,
    ),
    layout_blocks: [
        (
            name: "root",
            parent: "",
            hook: Hook(parent_anchor: TR, self_anchor: TR),
            offset: Vec2(x: -6, y: {{ bar.height + 6 }}),
            params: NotificationBlock((
                monitor: 0,
                border_width: 1,
                border_rounding: 0,
                background_color: Color(hex: "{{ theme.background.bright }}"),
                border_color: Color(hex: "{{ theme.highlight.base }}"),
                gap: Vec2(x: 0, y: 6),
                notification_hook: Hook(parent_anchor: BL, self_anchor: TL),
            )),
        ),
        (
            name: "image",
            parent: "root",
            hook: Hook(parent_anchor: TL, self_anchor: TL),
            offset: Vec2(x: 0.0, y: 0.0),
            params: ImageBlock((
                image_type: Hint,
                padding: Padding(left: 5, right: 0.0, top: 5, bottom: 5),
                rounding: 0,
                scale_width: 48,
                scale_height: 48,
                filter_mode: Lanczos3,
            )),
        ),
        (
            name: "summary",
            parent: "image",
            hook: Hook(parent_anchor: MR, self_anchor: BL),
            offset: Vec2(x: 0.0, y: 0.0),
            params: TextBlock((
                text: "%s",
                font: "{{ font.family }} {{ font.size }}",
                ellipsize: Middle,
                color: Color(hex: "{{ theme.text.base }}"),
                color_hovered: Color(hex: "{{ theme.text.bright }}"),
                padding: Padding(left: 7.0, right: 7.0, top: 7.0, bottom: 0.0),
                dimensions: (width: (min: 50, max: 150), height: (min: 0, max: 0)),
            )),
        ),

        (
            name: "body",
            parent: "summary",
            hook: Hook(parent_anchor: BL, self_anchor: TL),
            offset: Vec2(x: 0.0, y: -3.0),
            params: ScrollingTextBlock((
                text: "%b",
                font: "{{ font.family }} {{ font.size }}",
                color: Color(hex: "{{ theme.text.dim }}"),
                color_hovered: Color(hex: "{{ theme.text.base }}"),
                padding: Padding(left: 7.0, right: 7.0, top: 3.0, bottom: 7.0),
                width: (min: 150, max: 250),
                scroll_speed: 0.1,
                lhs_dist: 35.0,
                rhs_dist: 35.0,
                scroll_t: 1.0,
            )),
        ),
    ],
)
