dotfiles_dir = "dotfiles"

[settings]
prehooks = [
    "killall waybar",
    "mkdir -p ~/.local/state/mpd"
]
posthooks = [
    "swaymsg reload",
    "systemctl --user daemon-reload; systemctl --user restart waybar",
]
vars = ["vars.toml"]

[profiles.natalie]
vars = ["natalie.toml"]

[profiles.evelyn]
vars = ["evelyn.toml"]

[settings.dots]
nvim = { source = "nvim", target = ".config/nvim" }
alacritty = { source = "alacritty", target = ".config/alacritty" }
tmux = { source = "tmux.conf", target = ".tmux.conf" }
oh-my-zsh = { source = "guuji.zsh-theme", target = ".oh-my-zsh/custom/themes/guuji.zsh-theme" }
waybar = { source = "waybar", target = ".config/waybar" }
rofi = { source = "rofi", target = ".config/rofi" }
zshrc = { source = ".zshrc", target = ".zshrc" }
zprofile = { source = ".zprofile", target = ".zprofile" }
wired = { source = "wired", target = ".config/wired" }
sway = { source = "sway", target = ".config/sway" }
aura = { source = "aura", target = ".config/aura" }
mpv = { source = "mpv", target = ".config/mpv" }
cava = { source = "cava", target = ".config/cava" }
systemd = { source = "systemd", target = ".config/systemd/user" }
dl-song = { source = "dl-song", target = ".local/bin/dl-song" }
